<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="funka.la.sunshine" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="funka.la.sunshine.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="funka.la.sunshine.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="funka.la.sunshine.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="funka.la.sunshine.MainActivity" />
        </activity>
        <activity
            android:name="funka.la.sunshine.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <provider
            android:authorities="funka.la.sunshine"
            android:name=".data.WeatherProvider" />
    </application>

</manifest>
